*{
    margin: 0px;
    padding: 0px;
}
body,html{
    color: #3D3D3D;
    background: url(imagens/bodygif.gif)no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
    min-height: 100%;
}
#img1{
    height: 300px;
    max-width: 100%;
    margin-top: 10px;
}
main{
    min-height: 100vh;
    min-width: 450px;
    padding: 6px;   
    margin: auto;
    text-align: center;

}
h1{
    color: #0f9bff;
    text-align: center;
}
#result{
    color: #78E08F;
}
.botão{
    padding: 6px;
    background-color: #78E08F;
    color:#8A00C4;
    
}
.botão:hover{
    background-color: #8A00C4;
    color: #0A3D62;
}
#dancinha{
    max-width: 100%;
    max-height: 100%;
}