*{
    margin: 0px;
    padding: 0px;
}
body{
    color: #3D3D3D;
    background: url(imagens/bodygif.gif)no-repeat;
    background-size: cover;
    color: white;
}
#img1{
    height: 300px;
    width: 100%;
    margin-top: 10px;
}
main{
    padding: 6px;
    width: 450px;
    height: 30%;
    margin: auto;
    text-align: center;

}
h1{
    color: #0f9bff;
    text-align: center;
}
#result{
    color: #78E08F;
}
.botão{
    padding: 6px;
    background-color: #78E08F;
    color:#8A00C4;
    
}
.botão:hover{
    background-color: #8A00C4;
    color: #0A3D62;
}
#dancinha{
    width: 100%;
    height: 300px;
}